<secion class="section">
  <div class="container">
    <section class="hero is-primary">
      <div class="container">
        <h1 class="title">THis is a test.</h1>
        <h2 class="subtitle">More stuff.</h2>
      </div>
      <%= react_component("HelloWorld", { greeting: "Fuck yeah react!!!" }) %>
    </section>
  </div>
</secion>