
<nav class="navbar navbar-toggleable-md navbar-light navbar-fixed">
  <%= link_to image_tag("book-bookmark-icon.png", :border=>0, :size=>'64x64', :class=>'navbar-brand') %>
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--<span class="navbar-toggler-icon"></span>-->
  <!--</button>-->

  <form class="form-inline justify-content-center">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-search fa-2x"></i></span>
      <input type="text" class="form-control" aria-label="text input" placeholder="Search..."/>
      <div class="input-group-btn dropdown">
        <button type="button" class="btn btn-secondary" id="navBarDropDOwnBTN">
          All Books
        </button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only />"</button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navBarDropDownBTN">
          <a class="dropdown-item" href="#">All Books</a>
          <a class="dropdown-item" href="#">My Institution's Posted  Book</a>
        </div>
      </div>
    </div>
  </form>

  <div class="navbar-text justify-content-end">
    <a href="#" class="nav-item"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a>
    <a href="#" class="nav-item"><i class="fa fa-bell-o fa-2x" aria-hidden="true"></i></a>
    <a href="#" class="nav-item"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
  </div>
</nav>

<div class="row-fluid">
  <div class="col-sm">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active">Featured</a></li>
      <li class="nav-item"><a href="#" class="nav-link">My Program</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Favourites</a></li>
      <li class="nav-item"><a href="#" class="nav-link">My Books</a></li>
    </ul>
  </div>
</div>
